/* Fonte no servidor*/
@font-face {
  font-family: "alex-brush";
  src: url(./fonts/alex-brush/AlexBrush-Regular.ttf);
  src: url(./fonts/alex-brush/alexbrush-regular-webfont.woff) format("woff"), url(./fonts/alex-brush/alexbrush-regular-webfont.woff2) format("woff");
  /*O browser fara o download do arquivo e depois tentara aplicar na pagina, caso a pagina não de suporte, fara o download de cada arquivo. Para evitar que o browser faça o download desnecessario de diversos arquivos é recomandado alertar o formato de cada arquivo atravez de "format, desta maneira antes de fazer o download, o browser sabera se da suporte para tal tipo de arquivo e caso não de suporte ele não fará o download e passara a fazer o download somente do arquivo que da suporte, evita-se desta maneira que o browser faça o download de diversos arquivos desnecessarios*/
}

/*Fonte da web*/

body{
  background-image: url(./img/tile.png);
}

div {
  height: 200px;
  width: 200px;
  margin: 20px auto;
  background-color: rgb(255, 251, 0);
}
/* || Border radius */

.div1 {
  border-radius: 10%;
}

.div2 {
  border-radius: 50%;
}

.div3 {
 border-radius: 20px 50px;
}

.div4 {
  border-radius: 10px 20px 40px 80px;
}

.div5 {
  border-radius: 40px 40px 40px 40px / 80px 80px 80px 80px;
}

.div6 {
  border-radius: 50px 150px / 150px 50px;
}


.div7 {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.63);
}

.div8 {
  box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.63);
}

.div9 {
  box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.63), 5px 10px 15px 10px rgba(251, 255, 0, 0.397);
}
  /*text-shadow*/
.div10 {
  font-size: 100px;
  text-align: center;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.842);
}

.div11 {
  font-size: 100px;
  text-align: center;
  text-shadow: -10px -10px 10px rgba(0, 0, 0, 0.842);
}

.div12 {
  font-size: 100px;
  text-align: center;
  text-shadow: -1px -1px 0px rgba(128, 128, 128, 0.842), -2px -2px 0px rgba(139, 139, 139, 0.842), -3px -3px 0px rgba(129, 129, 129, 0.842), -4px -4px 0px rgba(134, 134, 134, 0.842), -5px -5px 0px rgba(131, 131, 131, 0.842);
}
/* background image*/
.div13 {
  background-image: url(./img/bg-3.jpg);
  background-size: cover;
  background-position: center;
}
/* Gradiente linear*/
.div14 {
  background-image: linear-gradient(to right , green, blue);
}

.div15 {
  background-image: linear-gradient(to right top , green, blue);
}

.div16 {
  background-image: linear-gradient(70deg , green, blue);
}

.div17 {
  background-image: linear-gradient(70deg , green 50%, blue 20px, red 10em, white, black);
}
.div18 {
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(68deg, blue, transparent), linear-gradient(to top, red, transparent);
}

/*Fontes customizadas*/

/*Fonte no servidor*/

.div19 {
  font-family: alex-brush, Arial, Helvetica, sans-serif;
  font-size: 100px;
  text-align: center;
}

/*Fonte da web*/

.div20 {
  font-family: 'Rubik Glitch', cursive;
  font-size: 100px;
}

/*Transição*/
.div21 {
  transition-property: width, background-color;
  transition-duration: .5s, 3s;
  transition-delay: 0.3s, 1s;
  transition-timing-function: cubic-bezier(.7, -2, .7, .5), ease; /*cubic-belzier*/
}
.div21:hover{
  width: 400px;
  background-color: aqua;
}

.div22 {
  transition: all 2s ease 1s;
}

.div22:hover{
  background-color: aqua;
  width: 400px;
}

/*A diferença entre transform e positiona relative é que em valore percentuais o position pegaraá o vaor do elemento pai, enquanto o position pegará o valor do proprio elemento*/ 
.div22 {
  transform: translate(50px, 18px);
}

.div24 {
  transform:rotate(-10deg);
}
.div25 {
  transform:rotate(-10deg);
  transform-origin: left bottom;
}
/*Desta forma o eixo x tambem rotaciona junto com o elemento abaixo ele primeiro rotacionou e depois transladou*/
.div26 {
  transform: rotate(-10deg) translate(50px, 18px);
}

/*Desta forma o eixo x tambem rotaciona junto com o elemento abaixo ele primeiro trnsladou e depois rotacionou*/
.div27 {
  transform: translate(50px, 18px) rotate(-10deg);
}

.div28 {
  transform: skew(10deg);
}
.div29 {
  transform: skew(0, 10deg);
}
.div30 {
  transform: skew(10deg, 10deg);
}

.div31 {
  transform: scale(0.5);
}

.div32 {
  transform: scale(1.2, 0.5);
}

.div33 {
  transform: scale(1.2, 0.5) skew(10deg, 10deg) translate(50px, 18px) rotate(-10deg);
}

/*Background-clip*/

.div34 {
  border: 10px solid rgba(0, 0, 0, 0.5);
  background-clip: border-box; /*Padrão*/
}

.div35 {
  border: 10px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-clip: content-box;
}
.div36 {
  border: 10px solid rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

.div37{
  padding: 10px;
  border: 10px solid rgba(0, 0, 0, 0.479);
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(68deg, blue, transparent), linear-gradient(to top, red, transparent);
  background-clip: content-box, border-box;
}

/*Gradiente radial*/

.div38{
  width: 500px;
  background-image: radial-gradient(red, blue);
}
.div39{
  width: 500px;
  background-image: radial-gradient(circle, red, blue);
}
.div40{
  width: 500px;
  background-image: radial-gradient(circle, red, blue, orange, green);
}
.div41{
  background-color: rgba(255, 255, 255, 0);
  width: 500px;
  background-image: radial-gradient(circle, red 50%, rgba(255, 255, 255, 0), green);
}
.div42{
  background-color: rgba(255, 255, 255, 0);
  width: 500px;
  background-image: radial-gradient(closest-side at 20% 90%, red 50%, rgba(255, 255, 255, 0), green);
}
.div43{
  background-color: rgba(255, 255, 255, 0);
  width: 500px;
  background-image: radial-gradient(farthest-side at 20% 90%, red 50%, rgba(255, 255, 255, 0), green);
}
.div44{
  background-color: rgba(255, 255, 255, 0);
  width: 500px;
  background-image: radial-gradient(closest-corner at 20% 90%, red 50%, rgba(255, 255, 255, 0), green);
}
.div45{
  background-color: rgba(255, 255, 255, 0);
  width: 500px;
  background-image: radial-gradient(farthest-corner at 20% 90%, red 50%, rgba(255, 255, 255, 0), green);
}
.div46{
  background-color: rgba(255, 255, 255, 0);
  background-image: repeating-linear-gradient(red 0%, rgba(255, 255, 255, 0) 10%, green 20%);
}
.div46{
  background-color: rgba(255, 255, 255, 0);
  background-image: repeating-radial-gradient(red 0%, rgba(255, 255, 255, 0) 10%, green 20%);
}
.div47{
  background-color: rgba(255, 255, 255, 0);
  background-image: repeating-radial-gradient(red 0%, transparent, blue 33%), linear-gradient(red, blue);
  background-attachment: scroll, fixed;
}
.div48{
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(red, blue);
  background-attachment: scroll, fixed;
}