:root {
    --mainLtColor: rgb(88, 88, 255);
    --mainBgColor: rgb(28, 28, 82);
    --mainDkColor: rgba(0, 0, 46, 0.863);
    --mainRoundRadius: 1vw;
    --linkColor1: rgb(159, 252, 255);
    --height1: 2vw;
    --height2: 5vw;
}

* {
    text-align: center;
}

.displayNone {
    display: none;
}

#appBody {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
  }
  
#appWindow {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.mainTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(173, 159, 255);
    background-color: var(--mainDkColor);
    font-size: 4vw;
    border-bottom: 1vw solid black;
    border-radius: var(--mainRoundRadius) var(--mainRoundRadius) 0 0;
    height: var(--height1);
    padding: 1vw;
}

.title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(173, 159, 255);
    background-color: var(--mainDkColor);
    font-size: 1.5vw;
    border-bottom: 1vw solid black;
    height: 1.5vw;
    padding: 0.5vw;
}
#shopItensDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--mainBgColor);
    border-radius: var(--mainRoundRadius);
    margin: 1vw;
}

.itensDiv {
    display: flex;
    background-color: var(--mainBgColor);
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.shopIten {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainLtColor);
    border-radius: var(--mainRoundRadius);
    margin: 1vw;
    font-weight: 100;
    font-size: 3vw;
    font-weight: 1000;
    color: rgba(180, 0, 0, 0.63);
    height: 7.5vw;
    width: 12.5vw;
    flex-wrap: wrap;
    padding: 0.5vw;
}

#buttonsDiv {
    background-color: var(--mainDkColor);
    margin-top: auto;
    border-radius: 0 0 var(--mainRoundRadius) var(--mainRoundRadius);
    border-top: 1vw solid black;
    height: var(--height2);
}

.comandsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.13);
    min-width: 10vw;
    margin: 1vw;
    border-radius: var(--mainRoundRadius);
    font-size: 2vw;
    color: var(--mainLtColor);
    font-weight: 100;
}

#orderDiv {
    display: flex;
    flex-direction: column;
    background-color: var(--mainDkColor);
    border-radius: var(--mainRoundRadius);
    width: 70%;
    margin: 1vw 1vw 1vw 0 ;
}

#orderDisplay {
    background-color: var(--mainDkColor);
    margin-left: 0;
    margin-right: 0;
}

#price {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainDkColor);
    color: rgb(255, 255, 255);
    font-size: 5vw;
    height: var(--height2);
    border-top: 1vw solid black;
    margin: .5vw;
    margin-top: auto;

}

.orderDisplayPrice, .orderDisplayTitles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 0.5vw;
}

.orderDisplayPrice {
    width: 7vw;
}

.OrderLine {
    background-color: var(--mainLtColor);
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0.3vw;
    color: rgb(255, 251, 0);
    font-family: monospace;
    font-size: 1.5vw;
    font-weight: 100;
}

#printerButtonDiv {
    margin-top: auto;
}

#printerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    background-color: var(--mainDkColor);
    color: var(--mainLtColor);
    border-radius: 0 0 var(--mainRoundRadius) var(--mainRoundRadius);
    margin-top: auto;
    border-top: 1vw solid black;
    height: var(--height2);
}


