:root {
    --mainLtColor: rgb(88, 88, 255);
    --mainBgColor: rgb(28, 28, 82);
    --mainDkColor: rgba(0, 0, 46, 0.863);
    --mainRoundRadius: 1vw;
    --linkColor1: rgb(159, 252, 255);
    --height1: 2vw;
    --height2: 5vw;
    --clicked-color: rgb(122, 255, 255);
}

* {
    text-align: center;
    box-sizing:border-box;
}

.displayNone {
    display: none;
}

#appBody {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
  }
  
#appWindow {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
}

.mainTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(173, 159, 255);
    background-color: var(--mainDkColor);
    font-size: 4vw;
    border-bottom: 1vw solid black;
    border-radius: var(--mainRoundRadius) var(--mainRoundRadius) 0 0;
    height:fit-content;
    padding: 0;
}

.title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: var(--mainDkColor);
    font-size: 2vw;
    font-weight: bolder;
    letter-spacing: 0.5vw;
    border-bottom: 1vw solid black;
    height:fit-content;
    padding: 0;
}
#shopItensDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--mainBgColor);
    border-radius: var(--mainRoundRadius);
    margin: 1vw;
    width: 100%;
}

.itensDiv {
    display: flex;
    background-color: var(--mainBgColor);
    justify-content: start;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.shopIten {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainLtColor);
    border-radius: var(--mainRoundRadius);
    padding: 0 4vw;
    margin: 0.7vw 2vw;
    font-weight: 100;
    font-size: 1.5vw;
    line-height: normal;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.3vw;
    font-weight: 1000;
    color: rgb(255, 251, 0);
    height: auto;
    width: 7.5vw;
    flex-wrap: wrap;
        text-shadow: 
    -0.2vw -0.2vw 0.5vw hsla(0, 0%, 0%, 0.808), /* Sombra superior esquerda (borda) */
     0.2vw -0.2vw 0.5vw hsla(0, 0%, 0%, 0.808), /* Sombra superior direita (borda) */
    -0.2vw  0.2vw 0.5vw hsla(0, 0%, 0%, 0.808), /* Sombra inferior esquerda (borda) */
     0.2vw 0.2vw 0.5vw hsla(0, 0%, 0%, 0.808); /* Sombra inferior direita (borda) */
    cursor: pointer;
    box-shadow: 
    0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.5), /* Primeira sombra */
    -0.2vw -0.2vw 0.4vw rgba(0, 0, 0, 0.5); /* Segunda sombra */
}

.shopIten:active {
    background-color: black;
}

#buttonsDiv {
    display: flex;
    justify-content: space-between;
    background-color: var(--mainDkColor);
    margin-top: auto;
    border-radius: 0 0 var(--mainRoundRadius) var(--mainRoundRadius);
    border-top: 1vw solid black;
    height: var(--height2);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.13);
    min-width: 10vw;
    margin: 1vw;
    border-radius: var(--mainRoundRadius);
    font-size: 2vw;
    color: var(--mainLtColor);
    font-weight: 100;
    cursor: pointer;
}

.buttons:active {
    background-color: red;
}

#orderDiv {
    display: flex;
    flex-direction: column;
    background-color: var(--mainDkColor);
    border-radius: var(--mainRoundRadius);
    margin: 1vw 1vw 1vw 0 ;
    width: 50%;
}

#orderDisplay {
    background-color: var(--mainDkColor);
    margin-left: 0;
    margin-right: 0;
}

#price {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mainDkColor);
    color: rgb(255, 255, 255);
    font-size: 5vw;
    height: var(--height2);
    border-top: 1vw solid black;
    margin: .5vw;
    margin-top: auto;
    padding: 3vw 0;

}

.orderDisplayPrice, .orderDisplayTitles {
    background-color: rgb(151, 146, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5vw;
    margin: 0.5vw;
}

.orderDisplayTitles {
    width: 100%;
    white-space: wrap;
    text-align: left;
}

.orderDisplayPrice {
    width: 7vw;
}

.OrderLine {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0.3vw;
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 1.5vw;
    font-weight: 1000;
}

#printerButtonDiv {
    margin-top: auto;
}

#printerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    background-color: var(--mainDkColor);
    color: var(--mainLtColor);
    border-radius: 0 0 var(--mainRoundRadius) var(--mainRoundRadius);
    margin-top: auto;
    border-top: 1vw solid black;
    height: var(--height2);
    cursor: pointer;
}

#printerButton:active {
    background-color: white;
}

.clicked {
    background-color: var(--clicked-color);
}

#saladsItensDiv .itensDiv, #coldMeatItensDiv .itensDiv, #meatItensDiv .itensDiv, #breadItensDiv .itensDiv, #baguettesPreparedItensDiv .itensDiv {
    border-bottom: 0.5vw solid black;
}

#saladsItensDiv .itensDiv:last-child, #coldMeatItensDiv .itensDiv:last-child, #meatItensDiv .itensDiv:last-child, #breadItensDiv .itensDiv:last-child, #baguettesPreparedItensDiv .itensDiv:last-child {
    border-bottom: none;
}


