div {
  padding: 2%;
  border: 1px solid black;
  width: 20%;
  float: left;
  height: 200px;
}

.div1{
  overflow: visible;
}

.div2{
  overflow: hidden;
}

.div3{
  overflow: scroll;
}

.div4{
  overflow: auto;
}